@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
  background-color: #111;
}
#taskList::-webkit-scrollbar{
  display: none;
}